body{
    background-color: rgb(28, 29, 33);
    margin-left: 10%;
    margin-right: 10%;
}

header {
    margin-top: 7vh;
    padding-left: 2vh;
    margin-bottom: 10vh;
}

h2 {
    margin-top: 7vh;
    padding-left: 2vh;
    color: rgb(238, 238, 238);
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3 {
    color: rgb(238, 238, 238);
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 130%;
}

p {
    color: rgb(238, 238, 238);
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 150%;
    padding-left: 2vh;
    width: 75%;
}

.icon {
    width: 400px;
    transition: width 1s;

}

.icon:hover{
    width: 600px;
}